<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nc.oreanet.mobile"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Oreanet Nouvelle-Calédonie</name>

    <description>
        Oreanet NC Mobile build docs. 
    </description>
    
    <icon src="oreanet_NC.png" />

    <author href="https://umr-entropie.ird.nc" email="sylvie.fiat@ird.fr">
        Sylvie Fiat
    </author>

</widget>
