<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nc.oreanet.mobile"
        versionCode = "1.0.3" 
        version     = "1.0.3" >

    <!-- versionCode is optional and Android only -->

    <name>Oreanet NC</name>

    <description>
        Oreanet NC Mobile app. 
    </description>
   
    <icon src="oreanet_nc_app.png" />

    <author href="https://umr-entropie.ird.nc" email="sylvie.fiat@ird.fr">
        Sylvie Fiat
    </author>
    
    <!--
      This allows your app to load assets from all *.oreanet.ird.nc domains    
    <gap:access origin="http://oreanet.ird.nc" subdomains="true" />
    <gap:access origin="*" />
    -->   
    
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />
    <gap:allow-navigation href="http://rest-oreanet.ird.nc" />
    <gap:allow-navigation href="./index.html" />
    <gap:allow-navigation href="./list.html" />
    <gap:allow-navigation href="./index.html?id=" />


</widget>
